/* Styl pro vertikální kalendář (rezervace ve sloupcích) */
.calendar-main {
  text-align: center;
}
.fill #vcalendar {
  height: 100%;
}
#vcalendar {
  display: inline-block;
}
#vcalendar table {
  border-spacing: 0;
}
#vcalendar table tbody {
  display: block;
  overflow: auto;
  height: 300px;
  width: 100%;
}
#vcalendar table thead .calendar-normal-header-row {
  display: block;
}
#vcalendar table thead .calendar-mobile-header-row {
  display: none;
}
#vcalendar table td,
#vcalendar table th {
  width: 86px;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-color: transparent;
}
#vcalendar table th {
  border-bottom: 0;
  padding: 7px 0;
  font-weight: 500;
  font-size: 16px;
}
#vcalendar table th:first-line {
  font-weight: 300;
  text-transform: capitalize;
}
#vcalendar table tr:first-child td {
  border-top: 1px solid #ccc;
}
#vcalendar table td {
  min-height: 36px;
  height: 36px;
  max-height: 36px;
  border-color: #ccc;
  position: relative;
  font-size: 13px;
  text-align: left;
  overflow: hidden;
}
#vcalendar table td.clickable:hover {
  background-color: rgba(77, 189, 195, 0.35);
  border-color: rgba(77, 189, 195, 0.35);
  cursor: pointer;
}
#vcalendar table td.selected {
  border-color: #4dbdc3;
  background-color: #4dbdc3;
  color: white;
}
#vcalendar table td.booked {
  background-color: #E8F2F5;
  border-top: none;
  border-bottom: none;
  background-image: url("/Images/bg-bookeditem.png");
  background-repeat: repeat;
  text-align: center;
  vertical-align: middle;
  color: gray;
  cursor: default;
}
#vcalendar table td:not(:first-child) {
  border-left: none;
}
#vcalendar table td .time {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}